Repository adamhadani/puffpastry: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci, pytest

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: check-added-large-files
    - id: fix-byte-order-marker
    - id: check-case-conflict
    - id: check-json
    - id: check-yaml
    - id: detect-aws-credentials
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 24.2.0
  hooks:
    - id: black
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
    - id: mypy
      args: [--ignore-missing-imports, --implicit-optional]
      types: [python]
      additional_dependencies: [types-all]
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    entry: pflake8
    additional_dependencies: [
      flake8-bugbear,
      flake8-isort,
      flake8-print,
      pyproject-flake8
    ]
- repo: local
  hooks:
  - id: circleci
    name: circleci config validate
    entry: bash -ec "circleci config validate"
    language: system
    files: '^\.circleci/config.yml$'
  - id: pytest
    name: pytest [with coverage, without slow]
    entry: bash -ec "pytest --cov=puffpastry puffpastry/tests --cov-fail-under='70' -m 'not slow'"
    language: system
    types: [python]
    pass_filenames: false

update circleci python image to use
  .circleci/config.yml
Due: circleci

update to use ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

add requirements.txt
  requirements.txt
Due: none

use pip in circleci config
  .circleci/config.yml
Due: circleci

include extra dependencies in pyproject.toml and requirements.txt for testing
  pyproject.toml
  requirements.txt
Due: none

Circleci project setup, pre-commit integration and various lint fixes (#1)
  .circleci/config.yml
  .pre-commit-config.yaml
  LICENSE
  README.md
  puffpastry/__init__.py
  puffpastry/tests/test_api.py
  pyproject.toml
  requirements.txt
Due: circleci, pytest

README updates
  README.md
Due: none

bump version to 0.0.3
  pyproject.toml
Due: none
